
<div class="row">
  <div class='col-sm-12'>
    <carousel class='text-center' *ngIf='homeImageList'>
      <slide *ngFor='let imageObj of homeImageList'>
        <a class='' href='/videos/{{ imageObj.slug }}' (click)='preventNormal($event, imageObj)'>
          <img class='img-main-carousel' [src]="imageObj.image" alt="First slide">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h3>{{ imageObj.name }}</h3>
          <p><a class='btn btn-default' href='/videos/{{ imageObj.slug }}'>View</a></p>
        </div>
      </slide>
    </carousel>
  </div>
</div>
